<include name="layouts/header.html"/>
<!--main-->
<main class="page-container blog-container blog-plain-container" itemprop="mainEntity" itemscope
      itemtype="http://schema.org/Blog">
    <div class="blog-plain-header text-center border-bottom">
        <div class="container">
            <div class="row">
                <div class="d-none d-lg-block col-lg-1 col-xl-2"></div>
                <div class="col-md-12 col-lg-10 col-xl-8">
                    <h1 class="page-title blog-title blog-plain-header-title mb-0" itemprop="headline">
                        @@title
                    </h1>
                    <if terms="@@content.exists()">
                        <div class="page-description blog-description blog-plain-header-description break-word text-sm mt-20"
                             itemprop="text">
                            @@content
                        </div>
                    </if>
                    <if terms="@@user.admin">
                        <if terms="@@editurl.exists()">
                            <a href="@@editurl" class="btn btn-sm btn-edit edit-link edit-link-page blog-plain-edit">
                                <i class="fa fa-pencil"></i>
                                ویرایش صفحه
                            </a>
                        </if>
                        <if terms="@@addurl.exists()">
                            <a href="@@addurl" class="btn btn-sm btn-create add-link add-link-post blog-plain-add"
                               target="_blank">
                                <i class="fa fa-plus"></i>
                                ایجاد نوشته
                            </a>
                        </if>
                    </if>
                    <if terms="@@image.exists()">
                        <link itemprop="image" href="@@image">
                    </if>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8">
                <div class="page-context blog-context blog-plain-context pt-30">
                    <if terms="@@posts.empty()">
                        <div class="page-empty blog-empty blog-plain-empty alert alert-warning">
                            موردی برای نمایش وجود ندارد.
                        </div>
                    </if>
                    <div class="blog-posts-holder shadow-sm bg-white rounded">
                        <loop src="@@posts">
                            <article class="blog-post blog-plain-post p-25 p-sm-30 p-md-40 p-lg-45" itemprop="blogPost"
                                     itemscope itemtype="http://schema.org/BlogPosting">
                                <if terms="@@categories.any()">
                                    <div class="blog-post-meta blog-post-categories blog-plain-post-categories">
                                        <loop src="@@categories">
                                            <a href="@@url"
                                               class="blog-post-category blog-plain-post-category"
                                               title="@@metatitle">
                                                @@title
                                            </a>
                                        </loop>
                                    </div>
                                </if>
                                <h2 class="blog-post-title blog-plain-post-title h4 font-weight-bold mb-20"
                                    itemprop="headline">
                                    <a href="@@url" class="blog-post-link blog-plain-post-link text-secondary"
                                       title="@@metatitle" itemprop="url mainEntityOfPage">
                                        @@title
                                    </a>
                                </h2>
                                <div class="blog-post-excerpt blog-plain-post-excerpt break-word text-muted text-sm"
                                     itemprop="description">
                                    @@description
                                </div>
                                <div class="mt-20 blog-post-meta blog-plain-post-meta d-flex align-items-center justify-content-between">

                                    <if terms="@@author.exists()">
                                        <div class="blog-post-author blog-plain-post-author" itemprop="author"
                                             itemscope
                                             itemtype="http://schema.org/Person">

                                            <a href="/site/posts?author=@@author.id"
                                               class="blog-post-author-link blog-plain-post-author-link d-flex align-items-center"
                                               itemprop="url">
                                                <img src='@@author.avatar.default("/site/resources/avatars/empty.png")?m=crop&h=34&w=34'
                                                     class="rounded-circle ml-10"
                                                     alt="@@author.name.default('ناشناس')"/>
                                                <span itemprop="name">@@author.name.default("ناشناس")</span>
                                            </a>
                                            <if terms="@@author.avatar.exists()">
                                                <link itemprop="image" href="@@author.avatar">
                                            </if>
                                        </div>
                                    </if>
                                    <div class="blog-post-date blog-plain-post-date">
                                        <meta itemprop="datePublished dateModified" content="@@date.universal">
                                        @@date
                                    </div>
                                </div>
                                <if terms="@@user.admin">
                                    <a href="@@editurl"
                                       class="btn btn-sm btn-edit edit-link edit-link-post blog-plain-post-edit">
                                        <i class="fa fa-pencil"></i>
                                        ویرایش
                                    </a>
                                    <div class="clearfix"></div>
                                </if>
                            </article>
                        </loop>
                    </div>
                    <include name="layouts/pager.html"/>
                </div>
            </div>
        </div>
    </div>
</main>
<!--/main-->

<include name="layouts/footer.html"/>