<!--inquiry-->
<form name="inquiry" id="product-inquiry-modal" class="modal modal-md product-inquiry-modal" ng-submit="inquiry.$valid && submit()" tabindex="-1" role="dialog" eval="collect('استعلام محصول @@id', '@@title')" contact dynamic-form novalidate>
    <div class="modal-dialog product-inquiry-modal-dialog" role="document">
        <div class="modal-content product-inquiry-modal-content">
            <div class="modal-header">
                <h5 class="modal-title product-inquiry-modal-title">
                    استعلام قیمت و موجودی محصول
                </h5>
                <button type="button" class="close product-inquiry-modal-close-icon" data-dismiss="modal">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body product-inquiry-modal-body">
                <scope name="product-inquiry-modal">
                    <include name="layouts/validation.html" />
                </scope>
                <div class="alert alert-success product-inquiry-modal-succeed" ng-show="succeed">
                    درخواست استعلام با موفقیت ثبت شد. کارشناسان ما با شما تماس خواهند گرفت.
                </div>
                <div ng-hide="succeed">
                    <p class="product-inquiry-modal-description">
                        برای دریافت استعلام دقیق قیمت و موجودی محصول، فرم زیر را بنویسید و ارسال کنید. کارشناسان ما با شما تماس خواهند گرفت.
                    </p>
                    <hr class="page-separator product-separator product-inquiry-modal-separator">
                    <div class="form-group product-inquiry-modal-name">
                        <label for="product-inquiry-modal-name" class="form-control-label product-inquiry-modal-name-label">
                            نام و نام خانوادگی
                        </label>
                        <input type="text" id="product-inquiry-modal-name" name="name" class="form-control product-inquiry-modal-name-control" ng-model="model.name" ng-disabled="progress" auto-focus required>
                        <div class="validation-inline product-inquiry-modal-inline-error text-danger" ng-messages="inquiry.name.$error" ng-show="inquiry.$submitted || inquiry.name.$dirty">
                            <span ng-message="required">
                                نام و نام خانوادگی را بنویسید.
                            </span>
                            <span ng-message="server">
                                <span ng-bind="validation.name"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group product-inquiry-modal-email">
                        <label for="product-inquiry-modal-email" class="form-control-label product-inquiry-modal-email-label">
                            پست الکترونیک
                        </label>
                        <input type="text" id="product-inquiry-modal-email" name="email" class="form-control text-left product-inquiry-modal-email-control" ng-model="model.email" dir="ltr" ng-disabled="progress">
                        <div class="validation-inline product-inquiry-modal-inline-error text-danger" ng-messages="inquiry.email.$error" ng-show="inquiry.$submitted || inquiry.email.$dirty">
                            <span ng-message="server">
                                <span ng-bind="validation.email"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group product-inquiry-modal-phone">
                        <label for="product-inquiry-modal-phone" class="form-control-label product-inquiry-modal-phone-label">
                            شماره تماس
                        </label>
                        <input type="text" id="product-inquiry-modal-phone" name="phone" class="form-control text-left product-inquiry-modal-phone-control" ng-model="model.phone" dir="ltr" ng-disabled="progress" required>
                        <div class="validation-inline product-inquiry-modal-inline-error text-danger" ng-messages="inquiry.phone.$error" ng-show="inquiry.$submitted || inquiry.phone.$dirty">
                            <span ng-message="required">
                                شماره تماس را بنویسید.
                            </span>
                            <span ng-message="server">
                                <span ng-bind="validation.phone"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group product-inquiry-modal-body">
                        <label for="product-inquiry-modal-body" class="form-control-label product-inquiry-modal-body-label">
                            توضیحات
                        </label>
                        <textarea id="product-inquiry-modal-body" name="body" class="form-control product-inquiry-modal-body-control" rows="5" ng-model="model.body" ng-disabled="progress" required></textarea>
                        <p class="form-text text-muted product-inquiry-modal-body-description">
                            در صورتی که نیاز به ارایه توضیحات خاصی در مورد محصول دارید، در این فیلد بنویسید.
                        </p>
                        <div class="validation-inline product-inquiry-modal-inline-error text-danger" ng-messages="inquiry.body.$error" ng-show="inquiry.$submitted || inquiry.body.$dirty">
                            <span ng-message="required">
                                توضیحات را بنویسید.
                            </span>
                            <span ng-message="server">
                                <span ng-bind="validation.body"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" ng-hide="succeed">
                <button type="button" class="btn btn-link product-inquiry-modal-close" ng-disabled="progress" data-dismiss="modal">
                    انصراف
                </button>
                <button class="btn btn-success product-inquiry-modal-submit" ng-disabled="progress">
                    ثبت درخواست
                </button>
            </div>
        </div>
    </div>
</form>
<!--/inquiry-->