<include name="layouts/header.html" />

<!--main-->
<main class="page-container protection-container" itemprop="mainEntity">
	<div class="container">
		<div class="page-context protection-context bg-white rounded shadow-sm p-25 p-sm-30 p-md-35 p-lg-40">
			<h1 class="page-title protection-title" itemprop="headline">
				@@title
			</h1>
			<p class="form-text text-muted protection-description">
				این صفحه توسط رمز عبور محافظت می‌شود. برای مشاهده صفحه، رمز عبور را در فیلد زیر بنویسید و سپس بر روی دکمه‌ی زیر کلیک کنید.
			</p>
			<hr class="page-separator protection-separator">
			<form action="/site/password" method="post" name="form" class="protection-form">
				<input type="hidden" name="returnurl" value="@@returnurl">
				<input type="hidden" name="pageid" value="@@id">
				<div class="row">
					<div class="col-lg-4 col-md-5 col-sm-6">
						<div class="protection-field">
							<div class="form-group">
								<label for="protection-field" class="form-control-label protection-field-label">
									رمز عبور
								</label>
								<input type="password" id="protection-field" name="password" class="form-control protection-field-input" auto-focus required>
							</div>
						</div>
					</div>
				</div>
				<button class="btn btn-success protection-submit">
					مشاهده
				</button>
			</form>
		</div>
	</div>
</main>
<!--/main-->

<include name="layouts/footer.html" />