<include name="layouts/header.html" />

<!--main-->
<main class="page-container recoverypass-container" itemprop="mainEntity">
	<div class="container">
		<div class="page-context recoverypass-context bg-white rounded shadow-sm">
			<h1 class="page-title recoverypass-title px-25 py-20 px-sm-30 py-md-25 px-md-35 py-lg-30 px-lg-40 border-bottom" itemprop="headline">
				بازیابی رمز عبور
			</h1>
			<div auto-show>
				<form name="recoverypass" class="recoverypass-form recoverypass-form1 p-25 p-sm-30 p-md-35 p-lg-40" ng-submit="recoverypass.$valid && submit()" ng-hide="recoveryStep2" recoverypass dynamic-form auto-show novalidate>
					<scope name="recoverypass">
						<include name="layouts/validation.html" />
					</scope>
					<div class="row form-group recoverypass-contact">
						<label for="recoverypass-contact" class="col-form-label col-md-3 text-md-left recoverypass-contact-label">
							شماره موبایل یا پست الکترونیک
						</label>
						<div class="col-md-9 col-lg-6">
							<input type="text" id="recoverypass-contact" name="contact" class="form-control text-left recoverypass-contact-input" ng-model="model.contact" dir="ltr" ng-disabled="progress" required>
							<div class="validation-inline recoverypass-inline-error text-danger" ng-messages="recoverypass.contact.$error" ng-show="recoverypass.$submitted || recoverypass.contact.$dirty">
								<span ng-message="required">
									شماره موبایل یا پست الکترونیک را بنویسید.
								</span>
								<span ng-message="server">
									<span ng-bind="validation.contact"></span>
								</span>
							</div>
						</div>
					</div>
					<hr class="page-separator recoverypass-separator">
					<div class="row form-group">
						<div class="col-md-3"></div>
						<div class="col-md-9 col-lg-6">
							<button class="btn btn-lg btn-success recoverypass-submit" ng-disabled="progress">
								گام بعدی
							</button>
							<a href="@@users.signin" class="btn btn-link recoverypass-cancel" click-confirm="آیا مطمئن هستید؟">
								بازگشت
							</a>
							<div class="recoverypass-loading" ng-show="progress">
								<i class="fa fa-refresh fa-spin fa-fw"></i>
								کمی صبر کنید...
							</div>
						</div>
					</div>
					<hr class="page-separator recoverypass-separator">
					<div class="row form-group">
						<div class="col-md-3"></div>
						<div class="col-md-9 col-lg-6">
							<a href="@@users.signup" class="recoverypass-signup">
								آیا عضو وب‌سایت نیستید؟ ثبت‌نام کنید.
							</a>
						</div>
					</div>
				</form>
				<form name="recoverypassconfirm" class="recoverypass-form recoverypass-form2" ng-submit="recoverypassconfirm.$valid && submit()" ng-show="recoveryStep2" recoverypass-confirm dynamic-form novalidate>
					<div class="alert alert-success recoverypass-description" ng-hide="succeed">
						هم اکنون یک کد 10 رقمی به اطلاعات تماس موجود در حساب کاربری ارسال شد. لطفا کد 10 رقمی و رمز عبور جدید خود را به ترتیب در فیلدهای زیر بنویسید و بر روی دکمه‌ی «تغییر رمز عبور» کلیک کنید.
					</div>
					<scope name="recoverypass">
						<include name="layouts/validation.html" />
					</scope>
					<div class="alert alert-success recoverypass-succeed" ng-show="succeed">
						رمز عبور شما با موفقیت تغییر کرد. برای ورود به وب‌سایت،
						<a href="@@users.signin">اینجا را کلیک کنید</a>.
					</div>
					<div ng-hide="succeed">
						<div class="row form-group recoverypass-token">
							<label for="recoverypassconfirm-token" class="col-form-label col-md-3 text-md-left recoverypass-token-label">
								کد بازیابی
							</label>
							<div class="col-md-9 col-lg-6">
								<input type="text" id="recoverypassconfirm-token" name="token" class="form-control text-left recoverypass-token-input" ng-model="model.token" dir="ltr" ng-disabled="progress" required>
								<div class="validation-inline recoverypass-inline-error text-danger" ng-messages="recoverypassconfirm.token.$error" ng-show="recoverypassconfirm.$submitted || recoverypassconfirm.token.$dirty">
									<span ng-message="required">
										کد بازیابی را بنویسید.
									</span>
									<span ng-message="server">
										<span ng-bind="validation.token"></span>
									</span>
								</div>
							</div>
						</div>
						<div class="row form-group recoverypass-newpassword">
							<label for="recoverypassconfirm-newpassword" class="col-form-label col-md-3 text-md-left recoverypass-newpassword-label">
								رمز عبور جدید
							</label>
							<div class="col-md-9 col-lg-6">
								<input type="password" id="recoverypassconfirm-newpassword" name="newpassword" class="form-control text-left recoverypass-newpassword-input" ng-model="model.newpassword" strength="medium" dir="ltr" ng-disabled="progress" required>
								<div class="validation-inline recoverypass-inline-error text-danger" ng-messages="recoverypassconfirm.newpassword.$error" ng-show="recoverypassconfirm.$submitted || recoverypassconfirm.newpassword.$dirty">
									<span ng-message="required">
										رمز عبور جدید را بنویسید.
									</span>
									<span ng-message="strength">
										رمز عبور شما باید؛ حداقل 6 حرف و ترکیبی از حروف کوچک، بزرگ یا اعداد باشد.
									</span>
									<span ng-message="server">
										<span ng-bind="validation.newpassword"></span>
									</span>
								</div>
							</div>
						</div>
						<div class="row form-group recoverypass-confirmpassword">
							<label for="recoverypassconfirm-confirmpassword" class="col-form-label col-md-3 text-md-left recoverypass-confirmpassword-label">
								تکرار رمز عبور جدید
							</label>
							<div class="col-md-9 col-lg-6">
								<input type="password" id="recoverypassconfirm-confirmpassword" name="confirmpassword" class="form-control text-left recoverypass-confirmpassword-input" ng-model="model.confirmpassword" dir="ltr" ng-disabled="progress" required>
								<div class="validation-inline recoverypass-inline-error text-danger" ng-messages="recoverypassconfirm.confirmpassword.$error" ng-show="recoverypassconfirm.$submitted || recoverypassconfirm.confirmpassword.$dirty">
									<span ng-message="required">
										تکرار رمز عبور جدید را بنویسید.
									</span>
									<span ng-message="server">
										<span ng-bind="validation.confirmpassword"></span>
									</span>
								</div>
							</div>
						</div>
						<hr class="page-separator recoverypass-separator">
						<div class="row form-group">
							<div class="col-md-3"></div>
							<div class="col-md-9 col-lg-6">
								<button class="btn btn-lg btn-success recoverypass-submit" ng-disabled="progress">
									تغییر رمز عبور
								</button>
								<button type="button" class="btn btn-link recoverypass-cancel" ng-click="back()" click-confirm="آیا مطمئن هستید؟">
									بازگشت
								</button>
								<div class="page-loading recoverypass-loading" ng-show="progress">
									<i class="fa fa-refresh fa-spin fa-fw"></i>
									کمی صبر کنید...
								</div>
							</div>
						</div>
						<hr class="page-separator recoverypass-separator">
						<div class="row form-group mb-0">
							<div class="col-md-3"></div>
							<div class="col-md-9 col-lg-6">
								<a href="@@users.signup" class="recoverypass-signup">
									آیا عضو وب‌سایت نیستید؟ ثبت‌نام کنید.
								</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>
<!--/main-->

<include name="layouts/footer.html" />