<include name="layouts/header.html"/>

<!--main-->
<main class="page-container gallery-container gallery-small-container" itemprop="mainEntity" itemscope
      itemtype="http://schema.org/ImageGallery">
    <div class="container">
        <div class="page-context gallery-context gallery-small-context" magnific>
            <include name="layouts/breadcrumb.html"/>
            <div class="bg-white rounded shadow-sm p-25 p-sm-30 p-md-35 p-lg-40">
                <h1 class="page-title gallery-title gallery-small-title" itemprop="headline">
                    @@title
                </h1>
                <if terms="@@user.admin">
                    <a href="@@editurl" class="btn btn-sm btn-edit edit-link edit-link-page gallery-small-edit">
                        <i class="fa fa-pencil"></i>
                        ویرایش صفحه
                    </a>
                </if>
                <if terms="@@image.exists()">
                    <link itemprop="image" href="@@image">
                </if>
                <if terms="@@content.exists()">
                    <hr class="page-separator gallery-separator gallery-small-separator">
                    <div class="page-description gallery-description gallery-small-description break-word"
                         itemprop="text">
                        @@content
                    </div>
                </if>
                <hr class="page-separator gallery-separator gallery-small-separator">
                <div class="row">
                    <loop src="@@images">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                            <div class="gallery-item gallery-small-item" itemprop="image" itemscope
                                 itemtype="http://schema.org/ImageObject">
                                <link itemprop="thumbnailUrl" href="@@image?m=thumbnail&w=200&h=200&q=veryhigh">
                                <link itemprop="contentUrl" href="@@image">
                                <div class="gallery-item-image gallery-small-item-image">
                                    <a href="@@url" magnific-preview="@@image?m=thumb&w=1280&h=800&q=high"
                                       class="gallery-item-link gallery-small-item-link">
                                        <img src="@@image?m=crop&w=320&h=240&q=high"
                                             class="img-fluid center-block gallery-item-element gallery-small-item-element">
                                    </a>
                                </div>
                                <if terms="@@title.exists()">
                                    <h3 class="gallery-item-title gallery-small-item-title" itemprop="caption">
                                        @@title
                                    </h3>
                                </if>
                                <if terms="@@description.exists()">
                                    <p class="gallery-item-description gallery-small-item-description break-word"
                                       itemprop="description">
                                        @@description
                                    </p>
                                </if>
                            </div>
                        </div>
                    </loop>
                    <if terms="@@images.empty()">
                        <div class="col-xs-12">
                            <div class="page-empty gallery-empty gallery-small-empty">
                                هیچ موردی برای نمایش پیدا نشد.
                            </div>
                        </div>
                    </if>
                </div>
            </div>
        </div>
    </div>
</main>
<!--/main-->

<include name="layouts/footer.html"/>